# Node
node_modules/
npm-debug.log
yarn-error.log

# Symfony
/titusanimation/var/
/titusanimation/vendor/
/titusanimation/.env.local
/titusanimation/.env.local.php
/titusanimation/.env.test
/titusanimation/.env.dev

# IDE
.idea/
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Front build
/titusanimation/public/build/
