{# templates/prestations/comte.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Prestations - Comte (médiéval){% endblock %}

{% block body %}
<section class="container mx-auto px-4 py-8">
  <h1 class="text-4xl font-bold mb-4">Prestations : Comte (médiéval)</h1>
  <p class="mb-4">
    Découvrez notre prestation médiévale, une animation immersive inspirée des contes et légendes d'antan.
  </p>
  {# Insère ici des images et un descriptif pour cette animation #}
</section>
{% endblock %}
